#analytics
  .container
    .span8.well
      %ul.nav.nav-tabs
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "expenses", "data-toggle" => "tab", :href => "#expenses", :role => "tab"} Expenses
        %li
          %a{"aria-controls" => "categories", "data-toggle" => "tab", :href => "#categories", :role => "tab"} Categories

      .tab-content
        #expenses.tab-pane.active{:role => "tabpanel"}
          = render "line_chart"
        #categories.tab-pane{:role => "tabpanel"}
          = render "pie_chart"
  = link_to 'Back', :back