#analytics
  .jumbotron
    .container
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          = link_to 'Expenses', line_chart_list_path(@list), aria: {controls: "Expenses"}, data: {toggle: "tab", target: "Expenses"}, id: "expense_tab"
        %li{:role => "presentation"}
          = link_to 'Categories', pie_chart_list_path(@list), aria: {controls: "Categories"}, data: {toggle: "tab", target: "Categories"}, role: "tab"
        %li{:role => "presentation"}
          %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Settings
  = link_to 'Back', :back