.jumbotron
  .container
    .h1 Expense Pro
    %p A simple solution for tracking your expenses.
    = link_to 'Sign in', user_session_path, class: 'btn btn-primary btn-lg'
    OR
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'