#list-permissions
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Grant permissions
    .panel-body
      .panel.panel-default
        .table-responsive
          %table.table.table-bordered
            %tr
              %th Name
              %th Accepted invitation date
              %th Grant Access
              %th type