/*
*= require 'masonry/transitions'
*/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #F5F8FA;
	padding-bottom: 20px;
}

label {
	font-size: 1.5em;
	margin-top: 6px;
	margin-bottom: 0px;
	color: #2E6DA4;
}

h2 {
	color: #2E6DA4;
}

.line_chart .h2 {
	color: #2E6DA4
}

.pie_chart .h2 {
	color: #2E6DA4
}

h4 {
	color: #525252;
}

th {
	color: #2E6DA4;
}

td {
	color: #797777;
}

a:hover {
	text-decoration: none;
	color: #418CC6;
}

ul.dropdown-menu a {
	color: #2E6DA4;
}

#analytics .caret {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #2e6da4;
}

.total {
	font-size: 1.1em;
	color: #7C7A7A;
}

.well {
	background-color: #FFFFFF;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: .8;
	color: #fff;
	text-shadow: 0 1px 0 rgb(49, 60, 70);
	opacity: 1.2;
	filter: alpha(opacity=20);
}

.close:hover, .close:focus {
	color: rgba(255, 255, 255, 0.78);
	text-decoration: none;
	cursor: pointer;
	opacity: 1.2;
}

span.glyphicon.glyphicon-user {
	color: #2E6DA4;
}

.caret {
	color: #2E6DA4;
}

.alert-success {
	background-color: #337AB7;
	border-color: #2E6DA4;
	color: #FFFFFF;
	margin-top: 20px;
}

.alert-alert {
	background-color: #FF7C7C;
	border-color: #FA6161;
	color: #FFFFFF;
	margin-top: 20px;
}

.alert-error {
	background-color: #FF7C7C;
	border-color: #FA6161;
	color: #FFFFFF;
	margin-top: 20px;
}

.alert > ul {
	margin-bottom: 0;
	list-style: none;
}

.field_with_errors .message {
	color: #FF0000;
	font-size: 15px;
}

//.field_with_errors label {
//	color: #ff3f3f;
//}

.field_with_errors .form-control {
	border: 1px solid #FF0000;
}

#search-button {
	margin-bottom: 5px;
}

#search.col-md-3 {
	padding-bottom: 2px;
	padding-top: 2px;
}

.btn-info {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

.btn-default {
	color: #2E6DA4;
	background-color: #F5F8FA;
	border: none;
	font-size: 1.5em;
}

.btn-danger {
	margin-top: 10px;
	background-color: white;
	color: #2E6DA4;
	border: none;
	font-size: 1em;
}

button.btn.btn-danger.btn-sm.dropdown-toggle {
	color: #2E6DA4;
	text-decoration: none;
	background-color: white;
	border: none;
	box-shadow: none;
}

.btn-danger:hover {
	color: #418CC6;
	text-decoration: none;
	background-color: white;
}

.btn-default:hover {
	color: #2E6DA4;
	background-color: #F5F8FA;
	border: none;
}

.btn-info:hover {
	background-color: #337EBB;
	border-color: #2E71AC;
}

.btn-primary {
	color: #2E76B7;
	background-color: #FFFFFF;
	border-color: #2E6DA4;
}

.btn-lg {
	border-radius: 3px;
}

.container {
	max-height: 100%
}

.dropdown-header {
	font-size: 1em;
	font-style: inherit;
	font-weight: 500;
}

.navbar-default .navbar-nav > li > a {
	color: #2E6DA4;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #418CC6;
}

.navbar-default .navbar-brand {
	color: #2E6DA4;
}

.navbar-default .navbar-brand:hover {
	color: #418CC6;
}

.navbar-default {
	background-color: #FFFFFF;
}

.col-centered {
	text-align: center;
	float: none;
	margin: 0 auto;
}

#form-reg {
	text-align: left;
}

.jumbotron {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #E7E7E7;
	border-width: 1px;
	text-align: center;
}

#analytics
.jumbotron {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #E7E7E7;
	border-width: 1px;
	text-align: left;
}


.panel-heading h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.panel-body.center .pull-right {
	font-size: 11px;
}

.row {
	margin-left: -15px;
	margin-right: 15px;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 0;
	border-radius: 4px;
}

.navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
	margin-right: -15px;
	margin-left: 0px;
}

.navbar-collapse.in {
	overflow-y: inherit;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FFF;
}

#lists {
	margin: 0 auto;
}

#lists
.panel.panel-default {
	margin-bottom: 5px;
}

.box {
	margin: 5px;
	width: 247px;
}

.time {
	margin-bottom: 15px;
	font-size: 11px;
	color: #BABABA
}

.actions {
	font-size: 11px;
}

.center {
	text-align: center;
}

.glyphicon-stats {
	color: #2e6da4;
}

@media (max-width: 767px) {

	.col-md-2 {
		margin-top: 5px;
	}

	.col-md-3 {
		margin-top: 5px;
	}

	.row {
		margin-right: -15px;
	}

	.col-md-6 {
		padding-left: 0px;
		padding-right: 0px;
	}

	#form .container {
		padding-left: 0px;
		padding-right: 0px;
	}

}